.App {
  text-align: center;
}

nav {
  padding: 5px;
  margin-bottom: 10px;
  justify-content: center;
  justify-items: center;
  background-color: black;
}

 .App, .row {
  background-color: black;
}

.nav-item {
  margin:auto;
}

.container {padding:0px}

.col-md-6,.col-md-12 {
  padding-left: 5px;
  padding-right: 5px;
}

.card {
  margin-bottom: 5px;
  padding:1px;
}
.card-body {
  padding:5px;
}
.card .card .card-body{
  
  vertical-align:middle;
  display: table-cell;
  height: 100%;
  padding:0px;
  background-color: black;
  border-radius: .25rem!important;
}

.card-text{
  margin:90px;
  font-size: 3em;
  color:#660909;
}
.card .card {
  height:600px
}

img {
  max-height: 98%;  
  max-width: 98%; 
  position: absolute;  
  top: 0;  
  bottom: 0;  
  left: 0;  
  right: 0;  
  margin: auto;
  filter:invert(100%);

  
}

.btn-outline-danger{
  padding:10px 20px;
  color: rgb(196, 113, 113);
  border-color: #660909;
}

.btn-outline-danger:hover{
  color: rgb(196, 113, 113);
  background-color: #660909;
}

.show {
  display:block;
 
}
.hide {display:none}

.rounded {width:100%}

@media screen and (max-width: 574px) {
  .col-12 {padding-right:0px}
}