.App {
  text-align: center;
}

nav {
  padding: 10px;
  margin-bottom: 10px;
  justify-content: center;
  justify-items: center;
  background-color: black;
}

 .App, .row {
  background-color: black;
}

.nav-item {
  margin:auto;
}

.container {padding:0px}

.col-md-6{
  padding:5px 10px 0px 0px;
}
.card {
  margin-bottom: 10px;
  padding:5px;
}
.card-body {
  padding:5px;
}
.card .card .card-body{
  
  vertical-align:middle;
  display: table-cell;
  height: 100%;
  padding:0px;
  background-color: black;
  border-radius: .25rem!important;
}

.card-text{
  margin:90px;
  font-size: 3em;
  color:#660909;
}
.card .card {
  height:300px
}

img {
  height: 100%;
}

.btn-outline-danger{
  padding:10px 20px;
  color: rgb(196, 113, 113);
  border-color: #660909;
}

.btn-outline-danger:hover{
  color: rgb(196, 113, 113);
  background-color: #660909;
}

.show {
  display:block;
 
}
.hide {display:none}

.rounded {width:100%}